# Credit Value at Risk

In [31]:
import numpy as np
import pandas as pd
import requests
import io
from scipy.stats import binom
from scipy.optimize import minimize
from scipy.optimize import minimize_scalar
from math import exp
from math import log
from math import sqrt
from functools import partial, reduce
import locale

In [4]:
_ = locale.setlocale(locale.LC_ALL, '')

### Exercise 21.6
Answer from the textbook:
* The pobability of 6 or more defaults is 0.0005

In [20]:
num_loans = 100
pd = .01
num_defaults = 6
print(f'Probability of {num_defaults:d} or more defaults: {(1 - binom.cdf(num_defaults-1, num_loans, pd)):.4f}')

Probability of 6 or more defaults: 0.0005

### Exercise 21.7
Answer from the textbook:
* The pobability of 6 or more defaults is 0.0021

In [29]:
pds = [.005, .015]
pd = sum([1 - binom.cdf(num_defaults-1, num_loans, pd) for pd in pds]) / len(pds)
print(f'Probability of {num_defaults:d} or more defaults: {pd:.4f}')

Probability of 6 or more defaults: 0.0021

### Exercise 21.8
Answer from the textbook:
* The autocorrelation is quite high at 0.546

Retrieving Table 11.6 from the author's website.

In [72]:
with requests.get('http://www-2.rotman.utoronto.ca/~hull/calcs/Chapter11DefaultRates5e.xls') as s:
    df = pd.read_excel(io.BytesIO(s.content), index_col=0, header=5,
                       usecols='A,C', names=['Year', 'Defaul Rate'], parse_dates=True)

In [73]:
df = df.dropna()
df = df.asfreq('AS')

In [84]:
df

            Defaul Rate
Year
1970-01-01      0.02631
1971-01-01      0.00286
1972-01-01      0.00453
1973-01-01      0.00456
1974-01-01      0.00275
1975-01-01      0.00361
1976-01-01      0.00176
1977-01-01      0.00354
1978-01-01      0.00354
1979-01-01      0.00088
1980-01-01      0.00344
1981-01-01      0.00162
1982-01-01      0.01040
1983-01-01      0.00900
1984-01-01      0.00869
1985-01-01      0.00952
1986-01-01      0.01830
1987-01-01      0.01423
1988-01-01      0.01393
1989-01-01      0.02226
1990-01-01      0.03572
1991-01-01      0.02803
1992-01-01      0.01337
1993-01-01      0.00899
1994-01-01      0.00651
1995-01-01      0.00899
1996-01-01      0.00506
1997-01-01      0.00616
1998-01-01      0.01137
1999-01-01      0.02123
2000-01-01      0.02455
2001-01-01      0.03679
2002-01-01      0.02924
2003-01-01      0.01828
2004-01-01      0.00834
2005-01-01      0.00647
2006-01-01      0.00593
2007-01-01      0.00349
2008-01-01      0.02507
2009-01-01      0.04996
2010-01-01      0.01232
2011-01-01      0.00906
2012-01-01      0.01230
2013-01-01      0.01232
2014-01-01      0.00939
2015-01-01      0.01732
2016-01-01      0.02149

In [85]:
print(f'The autocorrelation is: {df.iloc[:,0].autocorr():.3f}')

The autocorrelation is: 0.563